<!DOCTYPE HTML>
<html>
	<head>
		<title>Checkin - virts.app</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/static/css/main.css" />
		<noscript><link rel="stylesheet" href="/static/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">
		<div id="page-wrapper">
			<!-- Main -->
				<div id="main" class="wrapper style1">
					<div class="container">
						<header class="major">
							<h2>403 Forbidden</h2>
							<p>请输入环境变量中设置的密码（默认123456）</p>
						</header>
						<section>
			                <form method="post" action="login">
			                  <div class="row gtr-uniform gtr-50">
			                    <div class="col-12">
			                      <input type="password" name="password" id="password" value="" placeholder="请输入密码" />
			                    </div>
			                  </div>
			                </form>
			            </section>
					</div>
				</div>
		</div>
			<script src="/static/js/jquery.min.js"></script>
			<script src="/static/js/browser.min.js"></script>
			<script src="/static/js/breakpoints.min.js"></script>
			<script src="/static/js/util.js"></script>
			<script src="/static/js/main.js"></script>

	</body>
</html>